# Salesforce Agentforce - Messaging for Web
# Copie para .env e preencha com os valores reais do snippet "Install Code Snippet"

VITE_SF_ORG_ID=00DJ9000002EvTJ
VITE_SF_DEPLOYMENT_NAME=SDO_Messaging_for_Web
VITE_SF_SITE_URL=https://storm-6ec90040c65995.my.site.com/ESWSDOMessagingforWeb1768924291151
VITE_SF_SCRT2_URL=https://storm-6ec90040c65995.my.salesforce-scrt.com
